.Button {
    
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: justify;
    border: 1px;
    border-color:#ebcebe ;
    border-radius: 5px;
    border-style: solid;
}

 

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
.Button:disabled {
    cursor: not-allowed;
    color: rgb(198, 201, 194);
    
  }
  .Button:hover {
    animation: enable 0.5s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} 
  